@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .sm-faq-box {
    padding-top: 5rem !important;
    padding-bottom: 6rem !important;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .sm-box {
    max-width: 920px;
  }
  .sm-faq-box {
    padding-left: 4.5rem !important;
    padding-right: 4.5rem !important;
  }
}

@media (min-width: 1400px) {
}
