@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .sm-box {
    max-width: 680px;
    margin-top: 0;
  }
  .sm-faq-box {
    padding-top: 5rem !important;
    padding-bottom: 6rem !important;
  }
  .sm-faq-box-img {
    width: 115px;
    position: absolute;
    left: -54px;
    top: 168px;
  }
  .sm-faq-img-desktop {
    width: 100%;
    height: 100%;
    position: relative;
    background: url(../images/illustration-woman-online-desktop.svg) -52px 62px no-repeat,
      url(../images/bg-pattern-desktop.svg) -345px -178px no-repeat;
    background-size: 117%, 222%;
  }
}

@media (min-width: 992px) {
  .sm-box {
    max-width: 880px;
  }
  .sm-faq-box {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
  .sm-faq-box-img {
    width: initial;
    position: absolute;
    left: -95px;
    top: 157px;
  }
  .sm-faq-img-desktop {
    background: url(../images/illustration-woman-online-desktop.svg) -77px 38px no-repeat,
      url(../images/bg-pattern-desktop.svg) -383px -219px no-repeat;
    background-size: 120%, 200%;
  }
}

@media (min-width: 1200px) {
  .sm-box {
    max-width: 920px;
  }
  .sm-faq-box {
    padding-left: 4.5rem !important;
    padding-right: 4.5rem !important;
  }
  .sm-faq-box-img {
    top: 170px;
  }
}

@media (min-width: 1400px) {
}
