/* .container {
  padding: 130px 0;
} */
.sm-box {
  border-radius: 20px;
  background-color: #fff;
  margin: 0 auto;
}

/*faq-item starts */
.sm-faq-head {
  border-bottom: 1px solid var(--sm-Divider-color);
  color: var(--sm-Very-dark-desaturated-blue);
}
.sm-faq-head:hover {
  color: var(--sm-color-3);
  cursor: pointer;
}
.sm-down-icon {
  width: 15px;
  transition: all 0.5s;
}
.sm-faq-body {
  color: var(--sm-secondary);
  display: none;
}
.rotate {
  transform: rotate(180deg);
}
/*faq-item end */

.sm-faq-img-mobile {
  margin: 0 auto;
  max-width: 100%;
  background: url(../images/illustration-woman-online-mobile.svg) top no-repeat,
    url(../images/bg-pattern-mobile.svg) bottom no-repeat;
  background-size: 100%, 100%;
  position: relative;
}
.sm-box-img-container {
  margin: 0 auto;
}
/* custom scrollbar starts*/
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
/* custom scrollbar ends*/
